<!DOCTYPE html>
<html>
<body>
<div ui-view>
    <h1 class="page-header">设备信息</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>编号</th>
                <th>位置</th>
                <th>在线状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="device in vm.deviceList">
                <td>
                    {{device.terminal_id}}
                </td>
                <td>{{device.location}}</td>
                <td>{{device.islinked | onlineStateFilter}}</td>
                <td>
                    <button type="button" class="btn btn-info">获取当前状态</button>
                    <button type="button" class="btn btn-warning">设置电话号码</button>
                    <button type="button" class="btn btn-success">检查连接</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>