<!DOCTYPE html>
<html>
<body>
<div>
    <div>
        <h1 class="page-header">设备 {{vm.deviceInfo.id}} 的详细信息</h1>
        <dl class="dl-horizontal" style="font-size: 30px">
            <dt>id</dt>
            <dd>{{vm.deviceInfo.id}}</dd>
            <dt>电话号码</dt>
            <dd>{{vm.deviceInfo.tel}}</dd>
            <dt>位置</dt>
            <dd>{{vm.deviceInfo.location}}</dd>
            <dt>在线状态</dt>
            <dd>{{vm.deviceInfo.state | stateFilter}}</dd>
            <dt>电池</dt>
            <dd>{{vm.deviceInfo.battery}}</dd>
            <dt>电压</dt>
            <dd>{{vm.deviceInfo.voltage}}</dd>
            <dt>工作状态</dt>
            <dd>{{vm.deviceInfo.workstate}}</dd>
        </dl>
    </div>
</div>
</body>
</html>