<!DOCTYPE html>
<html>
<body>
<div>
    <h1 class="page-header">编辑用户:{{vm.device.id}}</h1>
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <div class="col-md-7 col-md-offset-1">
                <form class="form-horizontal form-size" ng-submit="vm.updateDevice(vm.device)">
                    <div class="control-group label-interval">
                        <div class="controls">
                            <label class="control-label" for="deviceTel">电话号码：</label>
                            <input ng-model="vm.device.tel" class="pull-right" id="deviceTel" type="text"/>
                        </div>
                    </div>
                    <div class="control-group label-interval">
                        <div class="controls">
                            <label class="control-label" for="deviceLocation">地理位置：</label>
                            <input ng-model="vm.device.location" class="pull-right" id="deviceLocation" type="text" />
                        </div>
                    </div>
                    <div class="label-interval">
                        <button type="submit" class="btn btn-primary btn-size">修改</button>
                        <button ng-click="vm.deleteDevice()" type="button" class="btn btn-danger pull-right btn-size">删除设备</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>