<!DOCTYPE html>
<html>
<body>
<div>
    <h1 class="page-header">添加新设备</h1>
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <div class="col-md-7 col-md-offset-1">
                <form class="form-horizontal form-size" ng-submit="vm.addDevice(vm.device)">
                    <div class="input-group label-interval">
                        <span class="input-group-addon label-size">设备编号：</span>
                        <input ng-model="vm.device.id" class="form-control" type="text" />
                    </div>
                    <div class="input-group label-interval">
                        <span class="input-group-addon label-size">电话号码：</span>
                        <input ng-model="vm.device.tel" class="form-control" type="text" />
                    </div>
                    <div class="input-group label-interval">
                        <span class="input-group-addon label-size">地理位置：</span>
                        <input ng-model="vm.device.location" class="form-control" type="text" />
                    </div>
                    <div class="label-interval">
                        <button type="submit" class="btn btn-primary pull-right btn-size">添加</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>