<!DOCTYPE html>
<html>
<body>
<div ui-view>
    <h1 class="page-header">用户管理</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>用户名</th>
                <th>密码</th>
                <th>类型</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in vm.userList">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.password}}</td>
                <td>{{user.type}}</td>
                <td><a ui-sref="userManage.userOperation({username:'{{user.username}}'})">编辑</a></td>
            </tr>
            </tbody>
        </table>
        <button ui-sref="userManage.addUser" type="button" class="btn btn-info btn-size">添加用户</button>
    </div>
</div>
</body>
</html>