.common-interval  {
    margin: 40px;
}
.common-interval-min  {
    margin-bottom: 20px;
}
.label-interval  {
    margin-top: 20px;
}
.label-size  {
    width: 100px;
}
.btn-size  {
    width: 90px;
}
.form-size  {
    margin-top: 35px;
}
.card  {
    width: 485px;
    height: 340px;
    margin-right: 20px;
    margin-bottom: 20px;
    border:1px solid rgba(150,150,150,0.3137254901960784);
    box-shadow:0 1px 2px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2);
    /*background: rgb(242,242,242);*/
    border-radius: 2px;
    cursor: pointer;
}
.card-solidgauge  {
    width: 240px;
    height: 200px;
    float: left;
}
.card-table  {
    width: 100%;
    margin: 20px;
    padding: 20px;
    border-collapse: separate;
    border-spacing: 5px 10px
}
.badge-red {
    margin-left: 15px;
    background-color: rgb(255, 41, 41);
}
.nav-btn {
}